<div class="container">
  <p>
    This product uses the Flickr API but is not endorsed or certified by Flickr.
  </p>
  <p>
    Background photo "<a href="{{imageUrl}}" class="photo-title" target="_blank">{{imageTitle}}</a>"
    by
    <a href="{{ownerUrl}}" class="photo-author" target="_blank">{{ownerName}}</a>
    is licensed under
    <a href="{{licenseUrl}}" class="photo-license" target="_blank">{{licenseText}}</a>
  </p>
</div>
